<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http:// www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
<meta charset="utf-8" />
<meta
	name="apple-mobile-web-app-capable"
	content="yes"
/>
<meta
	name="mobile-web-app-capable"
	content="yes"
/>
<meta
	name="viewport"
	content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"
/>

<!-- JS dependencies (order matters!) -->
<script src="lib/angular/angular.js"></script>
<script src="lib/onsen/js/onsenui.js"></script>
<script
	src="lib/jquery/jquery-1.11.3.min.js"
	type="text/javascript"
></script>
<script
	type="text/javascript"
	src="lib/three/three.js"
></script>
<script
	type="text/javascript"
	src="lib/three/StereoEffect.js"
></script>
<script
	type="text/javascript"
	src="lib/moment/moment.js"
></script>
<script
	type="text/javascript"
	src="lib/peer/peer.js"
></script>
<script
	type="text/javascript"
	src="lib/cubic-spline/index.js"
></script>

<!-- CSS dependencies -->
<link
	rel="stylesheet"
	href="lib/onsen/css/onsenui.css"
/>
<link
	rel="stylesheet"
	href="lib/onsen/css/onsen-css-components-dark-theme.css"
/>
<link
	rel="stylesheet"
	href="css/index.css"
/>

<!-- CSP support mode (required for Windows Universal apps) -->
<link
	rel="stylesheet"
	href="lib/angular/angular-csp.css"
/>

<!-- icon for ios -->
<link
	rel="apple-touch-icon"
	href="img/logo.png"
>

<title>Picam360</title>
</head>
<body>
	<ons-sliding-menu
		menu-page="menu.html"
		main-page="main.html"
		side="left"
		var="app.menu"
		type="push"
		max-slide-distance="260px"
		swipeable="true"
	> </ons-sliding-menu>

	<ons-template id="menu.html"> <ons-page
		modifier="menu-page"
	> <ons-toolbar>
	<div class="right">
		<ons-toolbar-button ng-click="app.menu.closeMenu()">
		<ons-icon
			icon="fa-times"
			size="28px"
			fixed-width="false"
		></ons-icon> </ons-toolbar-button>
	</div>
	</ons-toolbar> <ons-list id="menu_list"> <ons-list-item class="menu-item">
	<div
		class="button-bar"
		style="width: 240px;"
	>
		<div class="button-bar__item">
			<input
				type="checkbox"
				name="radioInfoType"
				id="menu_button_visible"
				onclick="app.plugin_host.set_menu_visible(this.checked);"
			>
			<button class="button-bar__button">Menu</button>
		</div>
		<div class="button-bar__item">
			<input
				type="button"
				name="radioInfoType"
				id="menu_button_go2next"
				onclick="app.plugin_host.send_command(CAPTURE_DOMAIN + 'go2next_menu');"
			>
			<button class="button-bar__button">Next</button>
		</div>
		<div class="button-bar__item">
			<input
				type="button"
				name="radioInfoType"
				id="menu_button_select"
				onclick="app.plugin_host.send_command(CAPTURE_DOMAIN + 'select_active_menu');"
			>
			<button class="button-bar__button">Select</button>
		</div>
		<div class="button-bar__item">
			<input
				type="button"
				name="radioInfoType"
				id="menu_button_deselect"
				onclick="app.plugin_host.send_command(CAPTURE_DOMAIN + 'deselect_active_menu');"
			>
			<button class="button-bar__button">Deselect</button>
		</div>
	</div>
	</ons-list-item> <ons-list-item class="menu-item"> <ons-row
		align="center"
	> <ons-col align="center"> <ons-button
		valign="middle"
		onclick="app.plugin_host.snap();"
	> <img
		width="25"
		src="img/snap_icon.png"
	/>SNAP</ons-button> <ons-button
		valign="middle"
		onclick="app.plugin_host.rec();"
	> <img
		id="imgRec"
		width="25"
		src="img/start_record_icon.png"
	/>REC</ons-button> </ons-col> </ons-row></ons-list-item> <ons-list-item class="menu-item"> <ons-row
		align="center"
	> <ons-col>Audio</ons-col> <ons-col align="right"> <ons-switch
		var="swAudioPlay"
		onchange="app.plugin_host.set_audio(swAudioPlay.isChecked());"
	></ons-switch> </ons-col> </ons-row></ons-list-item> <ons-list-item class="menu-item"> <ons-row
		align="center"
	> <ons-col>Stereo</ons-col> <ons-col align="right"> <ons-switch
		var="swStereoView"
		onchange="app.plugin_host.set_stereo(swStereoView.isChecked());"
	></ons-switch> </ons-col> </ons-row></ons-list-item> <ons-list-item
		class="menu-item"
		id="uiCall"
		style="display : none"
	> <ons-row align="center"> <ons-col>CALL</ons-col> <ons-col
		align="right"
	> <ons-switch
		var="swCall"
		onchange="app.plugin_host.call(swCall.isChecked());"
	></ons-switch> </ons-col> </ons-row></ons-list-item> <ons-list-item
		class="menu-item"
		ng-click="app.navi.pushPage('about.html');app.menu.closeMenu();"
	> <ons-icon
		icon="fa-info-circle"
		fixed-width="true"
	></ons-icon> About </ons-list-item></ons-list></ons-page> </ons-template>

	<ons-template id="main.html"> <ons-navigator
		animation="slide"
		var="app.navi"
	> <ons-page>
	<div
		class="main_view"
		id="container"
	>
		<canvas id="panorama"></canvas>
		<div id="overlay"></div>
	</div>
	</ons-page> </ons-navigator> </ons-template>

	<ons-template id="about.html"> <ons-page> <ons-toolbar>
	<div class="left">
		<ons-back-button>戻る</ons-back-button>
	</div>
	<div class="center">About</div>
	</ons-toolbar> <ons-row style="margin-top: 100px; text-align: center;"> <ons-col>
	Picam360-Viewer </ons-col> </ons-row> <ons-row
		style="margin-top: 100px; text-align: center;"
	> <ons-col>
	<div id="divStatus">status</div>
	</ons-col> </ons-row></ons-page> </ons-template>

	<script
		type="text/javascript"
		src="js/printf.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/bmp_header.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/mpu.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/rtp.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/rtcp.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/mjpeg_decoder.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/h264_decoder.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/h265_decoder.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/opus_decoder.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/omvr.js?cache=no"
	></script>
	<script
		type="text/javascript"
		src="js/index.js?cache=no"
	></script>

	<!-- --------------- App init --------------- -->

	<script>
		ons.bootstrap();
		ons.ready(function() {
			//addEventListener spec migration
			var supportsPassive = false;
			try {
				var opts = Object.defineProperty({}, 'passive', {
					get : function() {
						supportsPassive = true;
					}
				});
				window.addEventListener("test", null, opts);
			} catch (e) {
			}
			document.addEventListener("touchmove", function(event) {
				if (!app.menu.isMenuOpened()
					&& app.navi.getCurrentPage().name != "about.html") {
					event.preventDefault();
				}
			}, supportsPassive ? {
				passive : false
			} : false);

			app.main();
		});
	</script>
</body>
</html>
